extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-amarillo Bienes 
            span.font-normal.text-black Raíces
        h2.text-center.font-extrabold.text-2xl.text-verde=page

        p.text.xl.font-bold.text